stages:
  - prepare
  - build
  - deploy
  
variables:
  IMAGE_NAME: "${CI_REGISTRY_IMAGE}/${CI_COMMIT_REF_SLUG}:${CI_COMMIT_SHA}"
  VAULT_ADDR: "https://vault.rupor.fun"
## vault_api
prepare-job:
  stage: prepare
  image: alpine:latest
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  script:
  - |
    apk add --update --no-cache curl jq
    
    echo "Authenticating with AppRole..."
    RESPONSE=$(curl --silent \
      --request POST \
      --data "{\"role_id\":\"$ROLE_ID\", \"secret_id\":\"$SECRET_ID\"}" \
      "$VAULT_ADDR/v1/auth/approle/login")
    VAULT_TOKEN=$(echo "$RESPONSE" | jq -r '.auth.client_token')
    if [ "$VAULT_TOKEN" == "null" ]; then
      echo "Error: Failed to authenticate with Vault. Check your Role ID and Secret ID."
      
    fi
    echo "Vault token obtained successfully."
    echo "Writing secrets to Vault..."
    curl --header "X-Vault-Token: $VAULT_TOKEN" \
      --request POST \
      --data "{\"data\": {\"COOKIE_PARSER_SECRET\": \"$COOKIE_PARSER_SECRET\", \"CSRF_SECRET\": \"$CSRF_SECRET\", \"GOOGLE_APPLICATION_CREDENTIALS\": \"$GOOGLE_APPLICATION_CREDENTIALS\", 
      \"IMAGE_KIT_PRIVATE_KEY\": \"$IMAGE_KIT_PRIVATE_KEY\", \"IMAGE_KIT_PUBLIC_KEY\": \"$IMAGE_KIT_PUBLIC_KEY\", \"IMAGE_KIT_URL_ENDPOINT\": \"$IMAGE_KIT_URL_ENDPOINT\",
      \"JWT_ACCESS_SECRET\": \"$JWT_ACCESS_SECRET\", \"JWT_REFRESH_SECRET\": \"$JWT_REFRESH_SECRET\", 
      \"POSTMARK_API_KEY\": \"$POSTMARK_API_KEY\", \"SESSION_COOKIE_SECRET\": \"$SESSION_COOKIE_SECRET\", \"DATABASE_URL\": \"$DATABASE_URL\", \"GOOGLE_CLIENT_ID\": \"$GOOGLE_CLIENT_ID\", \"GOOGLE_CLIENT_SECRET\": \"$GOOGLE_CLIENT_SECRET\"}}" \
      "$VAULT_ADDR/v1/rupor/data/gitlab"
    echo "Secrets written successfully."
  

kaniko-build:
  image:
    name: gcr.io/kaniko-project/executor:v1.23.2-debug
    entrypoint: [""]
  stage: build
  script:
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}"
      --dockerfile "${CI_PROJECT_DIR}/Dockerfile"
      --destination "${IMAGE_NAME}"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      exists:
        - Dockerfile

helm-deploy:
  stage: deploy
  tags:
    - k8s
  script:
        - export KUBECONFIG=/etc/rancher/k3s/k3s.yaml
        - helm upgrade rupor ./k3s --set rupor_server.image.repository=registry.gitlab.com/blablabla123-cell/rupor_server/main --set rupor_server.image.tag="${CI_COMMIT_SHA}" --wait --set imagePullSecrets=rupor --namespace rupor
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    
